.main {
  margin: auto;
  // width: 70%;
  min-width: 300px;
  max-width: 900px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

#contact {
  font-style: italic;
}

table {
  margin: 0 auto;
  width: 90%;
}

#header {
  display: flex;
  align-items: center;
}

th {
  font-weight: normal;
}

.course-name {
  text-align: left;
  font-style: italic;
}

.course-grade {
  text-align: right;
}

.skills-container {
  display: flex;
}

.skills-child {
  flex: 1;
}

.pro-skills-container {
  display: flex;
}

.pro-skills-child {
  flex: 1;
}

hr {
  opacity: 50%;
}

#professional-skills {
  margin-bottom: 0;
}

$hover-animation-time: 0.25s;
$bg-color: #2793c5;
$text-color: #fbfbfb;

a {
  background-color: transparent;
  text-decoration-color: transparent;
  color: $bg-color;
  transition: background $hover-animation-time ease-in-out,
    text-decoration-color $hover-animation-time ease-in-out;
}

a:hover {
  color: $bg-color;
  // background-color: $text-color;
  text-decoration-color: $bg-color;
}

body {
  margin: 2em;
}

article,
.lable-head,
.label-name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.intro {
 display: none;
}

.given-name {
  font-family: Inter, Roboto, sans-serif;
  text-align: center;
  white-space: nowrap;
  font-size: 2em;
  font-weight: bold;
}